---
import { Image } from 'astro:assets'

import { getBlogCollection } from 'astro-pure/server'
import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import PostPreview from '@/components/PostPreview.astro'
import { sortPostsByPublishDate, sortPostsByTop } from '@/utils/post-utils'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Rust', 'JavaScript/TypeScript', 'Html', 'CSS', 'Shell']
const frontend = ['Web3D', 'Vue', 'React', 'Astro']
const backend = ['NodeJS', 'C++']

const MAX_POSTS = 5
const allPosts = await getBlogCollection('posts')
const topPosts = sortPostsByTop(allPosts)
  .filter((p) => p.data.top >= 3)
  .slice(0, MAX_POSTS)
const allPostsByDate = sortPostsByPublishDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: '👏欢迎光临' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />
      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-xl font-bold'>{config.author} 的技术与体验实验室🧪</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='GitHub 库 ↗'
            as='a'
            href='https://github.com/LiveCatXY/LiveLab'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      {
        topPosts.length > 0 && (
          <Section title='置顶帖子'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {topPosts.map((p) => (
                <PostPreview post={p} />
              ))}
            </ul>
            <Button
              title='按置顶级别浏览更多帖子'
              class='w-fit self-end'
              href='/tops'
              style='ahead'
            />
          </Section>
        )
      }
      {
        allPostsByDate.length > 0 && (
          <Section title='最新帖子'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <PostPreview post={p} />
              ))}
            </ul>
            <Button
              title='按时间新旧浏览更多帖子'
              class='w-fit self-end'
              href='/posts'
              style='ahead'
            />
          </Section>
        )
      }
      <Section title='技能'>
        <SkillLayout title='编程语言' skills={languages} />
        <SkillLayout title='前端' skills={frontend} />
        <SkillLayout title='后端' skills={backend} />
      </Section>
      <Section title='关于'>
        <p class='text-muted-foreground'>开发者 / 设计师</p>
        <p class='text-muted-foreground'>全栈开发者，用户体验设计师与工程师</p>
        <Button title='更多关于我' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
    </div>
  </main>
</PageLayout>
