---
import { Image } from 'astro:assets'

import { getBlogCollection } from 'astro-pure/server'
import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import PostPreview from '@/components/PostPreview.astro'
import { sortPostsByPublishDate, sortPostsByTop } from '@/utils/post-utils'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Rust', 'JavaScript/TypeScript', 'Html', 'CSS', 'Shell']
const frontend = ['Web3D', 'Vue', 'React', 'Astro']
const backend = ['NodeJS', 'C++']

const MAX_POSTS = 5
const allPosts = await getBlogCollection('posts')
const topPosts = sortPostsByTop(allPosts)
  .filter((p) => p.data.top >= 3)
  .slice(0, MAX_POSTS)
const allPostsByDate = sortPostsByPublishDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'ЁЯСПцмвш┐ОхЕЙф╕┤' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />
      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author} чЪД IT хоЮщкМходЁЯзк</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='ц║Рф╗гчаБ тЖЧ' as='a' href='https://github.com/andyluss/lab' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      {
        topPosts.length > 0 && (
          <Section title='ч╜ощб╢х╕ЦхнР'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {topPosts.map((p) => (
                <PostPreview post={p} />
              ))}
            </ul>
            <Button title='цЫ┤хдЪх╕ЦхнР' class='w-fit self-end' href='/tops' style='ahead' />
          </Section>
        )
      }
      {
        allPostsByDate.length > 0 && (
          <Section title='цЬАцЦ░х╕ЦхнР'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <PostPreview post={p} />
              ))}
            </ul>
            <Button title='цЫ┤хдЪх╕ЦхнР' class='w-fit self-end' href='/posts' style='ahead' />
          </Section>
        )
      }
      <Section title='цКАшГ╜'>
        <SkillLayout title='ч╝ЦчиЛшпншиА' skills={languages} />
        <SkillLayout title='хЙНчлп' skills={frontend} />
        <SkillLayout title='хРОчлп' skills={backend} />
      </Section>
      <Section title='хЕ│ф║О'>
        <p class='text-muted-foreground'>х╝АхПСшАЕ / шо╛шобх╕И</p>
        <p class='text-muted-foreground'>хЕицаИх╝АхПСшАЕя╝МчФицИ╖ф╜УщкМшо╛шобх╕Иф╕Ох╖ечиЛх╕И</p>
        <Button title='цЫ┤хдЪхЕ│ф║ОцИС' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
    </div>
  </main>
</PageLayout>
